{% extends 'base.html.twig' %}

{% block title %}Stagiare : {{stagiaire}}{% endblock %}

{% block body %}
<div id="container">
    <h3>Fiche de stagiaire : {{stagiaire}}</h3>

    <div class="detail_container">
        <label>Nom : {{stagiaire.nomStagiaire|upper}}</label>
        <label>Prenom : {{stagiaire.prenomStagiaire}}</label>
        <label>Sexe : {{stagiaire.sexeStagiaire}}</label>
        <label>Date de naissance : {{stagiaire.dateNaissanceStagiaire|date("m/d/Y")}}</label>
        <label>Adresse : {{stagiaire.adresseStagiaire}} {{stagiaire.cpStagiaire}} {{stagiaire.villeStagiaire}}</label>
        <label>Prenom : {{stagiaire.prenomStagiaire}}</label>
        <label>Mail : {{stagiaire.mailStagiaire}}</label><br>
        <div>
            <a class="grey" href="{{ path('edit_stagiaire' , {'id':stagiaire.id} )}}">Edit</a>
            <a class="red" href="{{path('delete_stagiaire',{'id':stagiaire.id})}}">Supprimer</a>
        </div>

    </div>

    <div class="detail_container">
        <div class="titre">
            <h4>Sessions </h4>
            <div class="nombre">{{stagiaire.sessions|length}}</div>
        </div>
        <div class="listSession">
            <table>
                <thead>
                    <tr>
                        <th>Formation</th>
                        <th>Session</th>
                        {# <th>statut</th> #}
                        <th>date de debut</th>
                        <th>date de fin</th>
                        <th>Nombre place</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for session in stagiaire.sessions %}
                    <tr>
                        <th>{{session.formation}}</th>
                        <td><a href="{{path('show_session',{'id':session.id})}}">{{session.intituleSession}}</a></td>
                        {# <td>{{session}}</td> #}
                        <td>{{session.dateDebut|date("m/d/Y")}}</td>
                        <td>{{session.dateFin|date("m/d/Y")}}</td>
                        <td>{{session.stagiaires|length}}/{{session.nombrePlace}}</td>
                        <td><a class="red"
                                href="{{ path('desinscrire_stagiaire' , {'id':session.id,'idStagiaire':stagiaire.id} )}}">Desinscrire</a>
                        </td>

                        {% endfor %}

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}