{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<div id="container">
    <a href="{{path ('add_session')}}">Ajouter nouvelle session</a>
    <div class="listSession">
        <h3>Listes des sessions passées :</h3>
        {% if pastSession|length > 0 %}
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th scope="col">Session</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Formation</th>
                    <th scope="col">Date de debut</th>
                    <th scope="col">Date de fin</th>
                    <th scope="col">Place reservée</th>
                    <th scope="col">Porgramme</th>
                    <th scope="col">action</th>
                </tr>
            </thead>
            <tbody>
                {% for session in pastSession %}

                <tr>
                    <th scope="row">
                        <a href="{{ path('show_session' , {'id':session.id} ) }}">{{session.intituleSession}}</a>
                    </th>
                    <td>
                        {% if (session.stagiaires|length) < session.nombrePlace %}<label class="green"></label>
                            Disponible</label>
                            {% else %}
                            <label class="red">Compléte</label>
                            {% endif %}
                    <td>{{session.Formation}}</td>
                    <td>{{session.dateDebut|date("m/d/Y")}}</td>
                    <td>{{session.dateFin|date("m/d/Y")}}</td>
                    <td>
                        {{session.stagiaires|length}}/{{session.nombrePlace}}
                    </td>
                    <td><a href="{{ path('show_programme' , {'id':session.id} ) }}">Voir</a></td>
                    <td>
                        <div id="btn_container">
                            <a class="grey" href="#">Edit</a>
                            <a class="red" href="{{path('delete_session',{'id':session.id})}}">Supprimer</a>
                        </div>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}<div class="error">pas de session</div>
        {% endif %}
    </div>
    <div class="listSession">
        <h3>Listes des sessions en cours :</h3>
        {% if progressSession|length > 0 %}
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th scope="col">Session</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Formation</th>
                    <th scope="col">Date de debut</th>
                    <th scope="col">Date de fin</th>
                    <th scope="col">Place reservée</th>
                    <th scope="col">Porgramme</th>
                    <th scope="col">action</th>
                </tr>
            </thead>
            <tbody>
                {% for session in progressSession %}
                <tr>
                    <th scope="row">
                        <a href="{{ path('show_session' , {'id':session.id} ) }}">{{session.intituleSession}}</a>
                    </th>
                    <td>
                        {% if (session.stagiaires|length) < session.nombrePlace %}<label class="green">
                            Disponible</label>
                            {% else %}
                            <label class="red">Compléte</label>
                            {% endif %}
                    <td>{{session.Formation}}</td>
                    <td>{{session.dateDebut|date("m/d/Y")}}</td>
                    <td>{{session.dateFin|date("m/d/Y")}}</td>
                    <td>
                        {{session.stagiaires|length}}/{{session.nombrePlace}}
                    </td>
                    <td><a href="{{ path('show_programme' , {'id':session.id} ) }}">Voir</a></td>
                    <td>
                        <div id="btn_container">
                            <a class="grey" href="#">Edit</a>
                            <a class="red" href="{{path('delete_session',{'id':session.id})}}">Supprimer</a>
                        </div>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}<div class="error">pas de session</div>
        {% endif %}
    </div>
    <div class="listSession">
        <h3>Listes des sessions à venir :</h3>
        {% if futurSession|length > 0 %}
        <table class="table table-striped ">
            <thead>
                <tr>
                    <th scope="col">Session</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Formation</th>
                    <th scope="col">Date de debut</th>
                    <th scope="col">Date de fin</th>
                    <th scope="col">Place reservée</th>
                    <th scope="col">Porgramme</th>
                    <th scope="col">action</th>
                </tr>
            </thead>
            <tbody>
                {% for session in futurSession %}
                <tr>
                    <th scope="row">
                        <a href="{{ path('show_session' , {'id':session.id} ) }}">{{session.intituleSession}}</a>
                    </th>
                    <td>
                        {% if (session.stagiaires|length) < session.nombrePlace %}<label class="green">
                            Disponible</label>
                            {% else %}
                            <label class="red">Compléte</label>
                            {% endif %}
                    <td>{{session.Formation}}</td>
                    <td>{{session.dateDebut|date("m/d/Y")}}</td>
                    <td>{{session.dateFin|date("m/d/Y")}}</td>
                    <td>
                        {{session.stagiaires|length}}/{{session.nombrePlace}}
                    </td>
                    <td><a href="{{ path('show_programme' , {'id':session.id} ) }}">Voir</a></td>
                    <td>
                        <div id="btn_container">
                            <a class="grey" href="#">Edit</a>
                            <a class="red" href="{{path('delete_session',{'id':session.id})}}">Supprimer</a>
                        </div>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}<div class="error">pas de session</div>
        {% endif %}
    </div>
</div>


{% endblock %}