{% extends 'base.html.twig' %}

{% block title %}{{session.intituleSession}}{% endblock %}

{% block body %}
<div id="container">
    <h3>information sur la session : {{session.intituleSession}}</h3>
    <div class="detail_container session">
        <label>Formation :{{session.formation}}</label>
        <label>Intitulé :{{session.intituleSession}}</label>
        <label>Date de debut :{{session.dateDebut |date("m/d/Y")}}</label>
        <label>Date de fin :{{session.dateFin |date("m/d/Y")}}</label>
        <label>Formateur : {{session.formateur|upper}}</label>
        <label>nombre de place reservé : {{session.stagiaires|length}}/{{session.nombrePlace}}</label>
    </div>

    <div class="option">
        {# liste de programmes de la session #}
        <div class="detail_container">
            <div class="titre">
                <h4>{{session.intituleSession}} Programmes </h4>
                <div class="nombre">{{session.programmes|length}}</div>
            </div>
            <div class="listSession">

                <table>
                    <thead>
                        <tr>
                            <th>Module</th>
                            <th>Durée</th>
                            <th>Categorie</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for programme in session.programmes %}
                        <tr>
                            <td>{{ programme.moduleSession }}</td>
                            <td>{{ programme.duree }}</td>
                            <td>{{ programme.moduleSession.getCategorieModule() }}</td>
                            <td><a href="{{path('deprogrammer_module',{'id':session.id,'idProgramme':programme.id})}}"
                                    class="red">Deprogrammer</a></td>

                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        {# liste des programmes qui ne sont pas dans la session#}
        <div class="detail_container">
            <div class="titre">
                <h4>Ajouter Programmes </h4>
                <div class="nombre">{{ModulesNonProgrammer|length}}</div>
                <a class="special_btn" href="{{path('add_module_session')}}">nouveau module</a>
            </div>
            <div class="listSession">
                <table>
                    <thead>
                        <tr>
                            <th>Module</th>
                            <th>Durée</th>
                            <th>Categorie</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for module in ModulesNonProgrammer %}
                        <tr>
                            <form action="{{path('programmer_module',{'id':session.id, 'idModule':module.id})}}"
                                method="POST">
                                <td>{{ module.intituleModule }}</td>
                                <td><input type="number" name="duree" min="1" max="100"></td>
                                <td>{{ module.categorieModule }}</td>
                                <td><button type="submit" name="submit" value="submit" class="green">Programmer</button>
                                </td>
                            </form>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="option">
        <div class="option_stagiaires">
            <div class="titre">
                <h4>Stagiaires non inscrit </h4>
                <div class="nombre">{{session.stagiaires|length}}</div>
            </div>
            {% for stagiaire in session.stagiaires %}
            <div class="stagiaire_container">
                <a href="{{ path('show_stagiaire' , {'id':stagiaire.id} )}}">{{stagiaire}}</a>
                {% if session.dateFin |date("m/d/Y") > 'now'|date("m/d/Y") %}
                <a class="inscrire_btn"
                    href="{{ path('desinscrire_stagiaire', {'id':session.id , 'idStagiaire':stagiaire.id} )}}">-</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="option_stagiaires">
            <div class="titre">
                <h4>Stagiaires non inscrit </h4>
                <div class="nombre">{{stagiairesNonInscrit|length}}</div>
            </div>
            {% for nonInscrit in stagiairesNonInscrit %}
            <div class="stagiaire_container">
                <a href="{{ path('show_stagiaire' , {'id':nonInscrit.id} )}}">{{nonInscrit}}</a>
                {% if session.stagiaires|length < session.nombrePlace %} {% if session.dateFin |date("m/d/Y")>
                    'now'|date("m/d/Y") %} <a class="inscrire_btn"
                        href="{{ path('inscrire_stagiaire', {'id':session.id , 'idStagiaire':nonInscrit.id} )}}">+</a>
                    {% endif %}
                    {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}