{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<div id="container">
    <h3>information sur la session : {{session.intituleSession}}</h3>
    <div class="detail_container session">
        <label>Intitulé :{{session.intituleSession}}</label>
        <label>Date de debut :{{session.dateDebut |date("m/d/Y")}}</label>
        <label>Date de fin :{{session.dateFin |date("m/d/Y")}}</label>
        <label>Formateur : {{session.formateur}}</label>
        <label>nombre de place reservé : {{session.stagiaires|length}}/{{session.nombrePlace}}</label>
    </div>
    <div class="detail_container">
        {{form_start(AddProgramme)}}
        {{form_row(AddProgramme.moduleSession)}}
        {{form_row(AddProgramme.duree)}}
        {{form_end(AddProgramme)}}
    </div>


    <div class="option">
        {# liste de programmes de la session #}
        <div class="detail_container">
            <div class="titre">
                <h4>{{session.intituleSession}} Programmes </h4>
                <div class="nombre">{{session.programmes|length}}</div>
                <a class="plus_btn" href="">+</a>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Module</th>
                        <th>Durée</th>
                        <th>Categorie</th>
                    </tr>
                </thead>
                <tbody>
                    {% for programme in session.programmes %}
                    <tr>
                        <td>{{ programme.moduleSession }}</td>
                        <td>{{ programme.duree }}</td>
                        <td>{{ programme.moduleSession.getCategorieModule() }}</td>

                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        {# liste des programmes qui ne sont pas dans la session#}
        <div class="detail_container">
            <div class="titre">
                <h4>Ajouter Programmes </h4>
                <div class="nombre">{{ModulesNonProgrammer|length}}</div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Module</th>
                        <th>Durée</th>
                        <th>Categorie</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for module in ModulesNonProgrammer %}
                    <tr>
                        <td>{{ module.intituleModule }}</td>
                        <td><input type="number" name="duree"></td>
                        <td>{{ module.categorieModule }}</td>
                        <td><a href="" class="green">Programmer</a></td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <div class="option">
        <div class="option_stagiaires">
            <div class="titre">
                <h4>Stagiaires non inscrit </h4>
                <div class="nombre">{{session.stagiaires|length}}</div>
            </div>
            {% for stagiaire in session.stagiaires %}
            <div class="stagiaire_container">
                <a href="{{ path('show_stagiaire' , {'id':stagiaire.id} )}}">{{stagiaire}}</a>
                {% if session.dateFin |date("m/d/Y") > 'now'|date("m/d/Y") %}
                <a class="inscrire_btn"
                    href="{{ path('desinscrire_stagiaire', {'id':session.id , 'idStagiaire':stagiaire.id} )}}">-</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="option_stagiaires">
            <div class="titre">
                <h4>Stagiaires non inscrit </h4>
                <div class="nombre">{{stagiairesNonInscrit|length}}</div>
            </div>
            {% for nonInscrit in stagiairesNonInscrit %}
            <div class="stagiaire_container">
                <a href="{{ path('show_stagiaire' , {'id':nonInscrit.id} )}}">{{nonInscrit}}</a>
                {% if session.stagiaires|length < session.nombrePlace %} <a class="inscrire_btn"
                    href="{{ path('inscrire_stagiaire', {'id':session.id , 'idStagiaire':nonInscrit.id} )}}">+</a>
                    {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}