{% extends 'base.html.twig' %}

{% block title %}Hello ProgrammeController!{% endblock %}

{% block body %}


<div id="container">
    <h3>Programme de la session : {{session.intituleSession}}</h3>
    <a href="{{ path('show_session',{id:session.id})}}">nouveau programme</a>
    <table class="table table-striped ">
        <thead>
            <tr>
                <th>Module</th>
                <th>Durée</th>
                <th>Catégorie</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for programme in programmes %}

            <tr>
                <td> {{programme}}</td>
                <td>{{programme.duree}} jours</td>
                <td>{{programme.moduleSession.categorieModule}}</td>
                <td>
                    <div id="btn_container">
                        <a class="grey" href="#">Edit</a>
                        <a class="red" href="#">Supprimer</a>
                    </div>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}